<div style="padding-top:5em; width: 90em; float:left">
<div class="column">
<h1>RunScan</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p>Find me in app/views/home/index.html.erb</p> <br/>
<br/> <br/>
<p>Find me in app/views/home/index.html.erb</p> <br/> <br/> <br/> <br/><br/><br/><br/><br/> <p>Find me in app/views/home/index.html.erb</p>
</div>
<div class="column">

<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'C#')" id="Cclick">C#</button>
  <button class="tablinks" onclick="openCity(event, 'Javascript')">Javascript</button>
  <button class="tablinks" onclick="openCity(event, 'Java')">Java</button>
</div>

<div id="C#" class="tabcontent">
  <h3>C#</h3>
  <code> <pre>C# example code int x = 5  
  some more 
  int x = 6
  var y = 3</pre></code>
</div>

<div id="Javascript" class="tabcontent">
  <h3>Javascript</h3>
  <code> <pre>Section for code examples, int x = 5 </pre></code>
</div>

<div id="Java" class="tabcontent">
  <h3>Java</h3>
  <code> <pre>Section for code examples, int x = 5 </pre></code>
</div>


</div>

</div>