// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.navSubItm {
    color: #6b7687;
    font-size: large;
    cursor: pointer; 
    padding-bottom: 5px;
    
}